//
// PAGE TITLE
//


.c-page-title {
  margin-bottom: $spacing;
  padding-left: $spacing;
  padding-right: $spacing;
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
  text-align: center;
  border-radius: 0 0 $radius $radius;
  background: $color-primary;
  color: white;
  @include inuit-font-size($inuit-font-size-h1);

  @include mq($from: tablet) {
    flex-wrap: nowrap;
    @include inuit-font-size($inuit-font-size-alpha);
  }

  &__flag {
    display: inline-block;
    vertical-align: middle;
    height: $spacing-large;
    margin-bottom: $spacing-small;

    @include mq($from: tablet) {
      margin-top: $spacing;
      margin-bottom: $spacing;
      margin-right: $spacing;
    }
  }

  > span {
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include mq($from: tablet) {
      display: inline-block;
      vertical-align: middle;
    }
  }
}