//
// COUNTRY LIST
//


.c-country-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    width: calc(100% - #{$spacing});
    height: $spacing*4;

    @include mq($from: tablet) {
      width: calc(33.33% - #{$spacing});
    }

    @include mq($from: desktop) {
      width: calc(20% - #{$spacing});
    }
  }
}


.c-country {
  position: relative;
  margin: $spacing-small;

  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing;
    width: 100%;
    height: $spacing*4;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: $color-dark;
    background: $color-light;
    border: 2px solid $color-primary-light;
    border-radius: $radius;
    font-weight: 700;
    transition: $transition;
    @include inuit-font-size($inuit-font-size-h6, $spacing-small);

    &:hover {
      border-color: lighten($color-accent, 20%);
      box-shadow: $box-shadow-large;
    }
  }

  &__badge {
    position: absolute;
    top: -$spacing-tiny;
    right: -$spacing-tiny;
    padding: 0 $spacing-tiny;
    width: auto;
    min-width: $spacing;
    border-radius: $spacing;
    background: $color-accent;
    font-weight: bold;
    color: white;
    @include inuit-font-size($inuit-font-size-h6, $spacing);
  }
}