// Colors
$color-primary: #03A9F4;
$color-primary-light: #7bcff4;
$color-accent: #e45182;
$color-light: lighten(#ECEFF1, 2%);
$color-dark: #37474F;

// Border radius
$radius: 3px;

// Global transition
$transition: all 100ms ease-in-out;

// Shadows
$box-shadow:       0 1px 3px  rgba($color-primary,0.15),
                   0 5px 15px rgba($color-primary,0.05);
$box-shadow-large: 0 2px 5px  rgba($color-primary,0.15),
                   0 8px 25px rgba($color-primary,0.05);