// Colors
$color-primary: #03A9F4;
$color-accent: #e45182;
$color-body-text: white;

// Shadows
$box-shadow:       0 1px 3px  rgba(0,0,0,0.25),
                   0 5px 15px rgba(0,0,0,0.1);
$box-shadow-large: 0 2px 5px  rgba(0,0,0,0.25),
                   0 8px 25px rgba(0,0,0,0.1);