// SETTINGS

$inuit-global-baseline: 8px;
$inuit-global-font-size: 18px;

@import "../node_modules/inuitcss/settings/settings.core";
@import "css/settings/settings.variables";

$spacing:       $inuit-global-spacing-unit;
$spacing-tiny:  $inuit-global-spacing-unit-tiny;
$spacing-small: $inuit-global-spacing-unit-small;
$spacing-large: $inuit-global-spacing-unit-large;
$spacing-huge:  $inuit-global-spacing-unit-huge;


// TOOLS
@import "../node_modules/inuitcss/tools/tools.font-size";
@import "../node_modules/inuitcss/tools/tools.clearfix";
@import "../node_modules/inuitcss/tools/tools.hidden";
@import "../node_modules/sass-mq/mq";


// GENERIC
@import "../node_modules/inuitcss/generic/generic.box-sizing";
@import "../node_modules/inuitcss/generic/generic.normalize";
@import "../node_modules/inuitcss/generic/generic.reset";
@import "../node_modules/inuitcss/generic/generic.shared";


// ELEMENTS
@import "../node_modules/inuitcss/elements/elements.page";
@import "css/elements/elements.page";
@import "../node_modules/inuitcss/elements/elements.headings";
@import "../node_modules/inuitcss/elements/elements.images";
@import "../node_modules/inuitcss/elements/elements.tables";


// OBJECTS
@import "../node_modules/inuitcss/objects/objects.wrapper";
@import "../node_modules/inuit-flexgrid/objects/objects.grid";
@import "../node_modules/inuitcss/objects/objects.media";
@import "../node_modules/inuitcss/objects/objects.flag";
@import "../node_modules/inuitcss/objects/objects.list-bare";
@import "../node_modules/inuitcss/objects/objects.list-inline";
@import "../node_modules/inuitcss/objects/objects.box";
@import "../node_modules/inuitcss/objects/objects.block";
@import "../node_modules/inuitcss/objects/objects.ratio";
@import "../node_modules/inuitcss/objects/objects.crop";
@import "../node_modules/inuitcss/objects/objects.table";
@import "../node_modules/inuitcss/objects/objects.pack";


// COMPONENTS
@import "css/components/components.country-list";




// UTILITIES
@import "../node_modules/inuitcss/utilities/utilities.clearfix";

@import "../node_modules/inuitcss/utilities/utilities.widths";
@import "../node_modules/inuitcss/utilities/utilities.headings";
@import "../node_modules/inuitcss/utilities/utilities.spacings";
@import "../node_modules/inuitcss/utilities/utilities.responsive-spacings";
@import "../node_modules/inuitcss/utilities/utilities.print";
@import "../node_modules/inuitcss/utilities/utilities.hide";